.navbar {
    position:fixed;
    left:0;
    right:0;
    top:0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    padding: 20px 60px;
    z-index: 2;
}

.navbar-explore {
    padding: 10px 60px;
}

@media screen and (min-device-width: 0) and (max-device-width: 576px) {

    .navbar {
        padding: 24px 24px;    
    }
    
}