@import '../../../style/style.scss';

.grey-layout {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.4000000059604645;
    background: map-get($palette, black);
}

.grey-layout-invisible {
    display: none;
}