@import '../../../style/style.scss';
@import '../../../style/style.css';

.hero-container-title {
    display: flex;
    flex-direction: column;

    &__first-title {
        color: map-get(map-get($palette, text), main);
        text-align: center;
        font-family: HelveticaNeue;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin:0;
    }

    &__second-title {
        color: map-get(map-get($palette, text), secondary);
        text-align: center;
        font-family: HelveticaNeue;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 38px;
        margin:0;
    }
}