@import '../../../style/style.scss';

.navbar-button-modal-forgot-password {
    color: map-get(map-get($palette, signUp), forgotPassword);
    text-align: right;
    font-family: RobotoRegular;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    color: map-get(map-get($palette, signUp), signup)
}