@import '../../../style/style.scss';

.navbar-container {
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container-login-menu {
    display: none;
}

.burger-menu {
    display:none,
}

.burger-body {
    display:none;
}

.nav-links-container {
    display:flex;
    align-items: center;
    margin:0;


    &__link {
    color: map-get(map-get($palette, text), main);
    text-align: center;
    font-family: RobotoMedium;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
    margin:0px 15px;
    }
}

.separator-line {
    width:0;
    height:1px;
    background-color: black;
    opacity: 0.10000000149011612;
    margin:12px 0;
}

@media screen and (min-device-width:0) and (max-device-width: 576px) {
    
    .navbar-container {
        display:none;
    }

    .relative {
        position:relative;
        width:100%;
    }

    .container-login-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .container-login-menu__link {
            color: map-get(map-get($palette, text), main);
            text-align: center;
            font-family: RobotoMedium;
            font-size: 15px;
            font-style: normal;
            line-height: normal;
            margin:0 15px 0 0;
        }
    }

    .burger-menu-container {
        display:block;
        position:relative;
        display:flex;
        align-items: center;
        margin: 0 0 0 15px;
    }

    .burger-menu {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
        height:15px;
        width: 18px;

        .burger-menu__lines {
            height:3px;
            width:100%;
            background-color: black;
        }
    }

    .burger-body {
        position:fixed;
        top:66px;
        left:0;
        right:0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background: #FFF;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
        padding:0px 24px ;
        animation: scroll-navbar;
        animation-duration: 1s;
        z-index:1;

        .burger-body__links-container {
            width:100%;
            display:flex;
            justify-content: flex-start;
            padding:0 0 30px 0;
        }
    }

    .button-container {
        height:70%;
        display: flex;
        align-items: center;
        border-left:1px solid map-get(map-get($palette, input), searchbar )
    }

    .nav-links-container {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        margin:0;
        width:100%;
    
    
        &__link {
            margin:0;
        }

    }

    .separator-line {
        width:100%;
    }
}

@keyframes scroll-navbar {
    0% {height:50px;
        opacity:0};
    100% {height:200px;
          opacity:1;}
}