.tag {
    position: absolute;
    border-radius: 40px;
    opacity: 0.10000000149011612;
    background: linear-gradient(315deg, #0081FA 0%, #009FF2 100%);
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin:0;

}

.span-tag {
    color: #FFF;
    text-align: center;
    font-family: RobotoBold;
    font-size: 13px;
    font-style: normal;
    line-height: normal;
}


.tag-number {
    display:flex;
    align-items: center;
    border-radius: 30px;
    background: #2E98FB;
    padding:4px 5px 4px 5px;
    margin-right:5px;
}

.over {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 30px;
    z-index: 2;
}

li {
    margin: 0px 10px 0px 10px;
}