@import '../../../style/style.scss';

.paragraph {
    margin-top:18px;

    &__paragraph-text {
        width:100%;
        text-align: start;
        color: map-get(map-get($palette, text), black);
        font-family: RobotoRegular;
        font-size: 12px;
        font-style: normal;
        line-height: 18px;
        opacity: 0.4000000059604645;
        margin-top:0;
    }

    &__paragraph-text--passed {
        width:100%;
        text-align: start;
        color: map-get(map-get($palette, text), black);
        font-family: RobotoRegular;
        font-size: 15px;
        font-style: normal;
        line-height: 22px; 
        opacity: 0.6000000238418579;
        margin-top:0;
    }
}