@import '../../../style/style.scss';

.hero-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-container-start {
    width:100%;
    align-items: flex-start;
}

.hero-container-title {
    display: flex;
    flex-direction: column;

    &__first-title {
        color: map-get(map-get($palette, text), main);
        text-align: center;
        font-family: RobotoMedium;
        font-size: 40px;
        font-style: normal;
        line-height: normal;
        margin:0;
    }

    &__second-title {
        color: map-get(map-get($palette, text), secondary);
        text-align: center;
        font-family: RobotoRegular;
        font-style: normal;
        line-height: 38px;
    }
}
@media screen and (min-width: 0px) {

    .hero-container-title {
        padding: 0 18px 0 18px;
    
        &__first-title {
            font-size: 34px;
            margin:0;
        }
    
        &__second-title {
            font-size: 18px;
            margin:0;
        }
    }
}

@media screen and (min-width: 576px) {

    .hero-container-title {
        display: flex;
        flex-direction: column;
    
        &__first-title {
            font-size: 40px;
            margin:0;
        }
    
        &__second-title {
            font-size: 24px;
            margin:0;
        }
    }
    
}

