@import '../../../style/style.scss';
@import '../../../style/style.css';

.footer-container-links {

        display:flex;

        &__link--start {
            margin: 0 15px 0 0;
            color: map-get(map-get($palette, text), black);
            font-family: HelveticaNeue;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 18px;
        }

        &__link--center {
            margin: 0 15px;
            color: map-get(map-get($palette, text), black);
            font-family: HelveticaNeue;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 18px;
        }

        &__link--end {
            margin: 0 0 0 15px;
            color: map-get(map-get($palette, text), black);
            font-family: HelveticaNeue;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 18px;
        }
}