@import '../../../style/style.scss';

.navbar-button-modal-title {
    color: map-get(map-get($palette, text), main);
    text-align: center;
    font-family: RobotoMedium;
    font-size: 30px;
    font-style: normal;
    line-height: normal;
}