.all-categories {
    display:grid;
    gap:60px 30px;
    margin: 30px 0 140px 0;
}

@media screen and (min-width: 0 ) {


    .all-categories {
        grid-template-columns: 1fr;
    }
    
}

@media screen and (min-width: 769px ) {


    .all-categories {
        grid-template-columns: 1fr 1fr;
    }
    
}

@media screen and (min-width: 1201px) {

    .all-categories {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}
