@import '../../../style/style.scss';

.hero-container-searchbar-input {
    width: 100%;
    display:flex;

    .hero-container-searchbar-input__input--medium {
        width: 100%;
        color: map-get($palette,black);
        font-family: RobotoRegular;
        font-size: 15px;
        font-style: normal;
        line-height: normal;
        background-color: map-get($palette, white);
        border:transparent;
        border: 0;
        outline: none;

        &::placeholder {
            color: map-get(map-get($palette, input), placeholder);
        }
    }
}

@media screen and (min-device-width:0) and (max-device-width: 576px) {

    .hero-container-searchbar-input {

        .hero-container-searchbar-input__input--medium {
            display:none;
        }

        .hero-container-searchbar-input__input--small {
            width: 100%;
            color: map-get($palette,black);
            font-family: RobotoRegular;
            font-size: 15px;
            font-style: normal;
            line-height: normal;
            background-color: map-get($palette, white);
            border: 0;
            outline: none;

            &::placeholder {
                color: map-get(map-get($palette, input), placeholder);
            }
        }
    }

}

@media screen and (min-device-width: 577px) {

    .hero-container-searchbar-input {

        .hero-container-searchbar-input__input--small {
            display:none;
        }
    }

}