@import '../../../style/style.scss';
@import '../../../style/style.css';

.navbar-button-modal-signup-button {
    width: 100%;
    height: 48px;
    border-radius: 4px;
    background: linear-gradient(315deg, #0081FA 0%, #009FF2 100%);
    margin:32px 0 0 0;
}