.results-card {
    grid-column: auto;
    grid-row: auto;
    position: relative;
}

.results-card-image {
    width: 100%;
    height: 100%;
}

.results-card-highlights {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    padding: 30px;
    transition: 0.3s ease-in;

    .results-card &:hover {
        opacity: 1;
        background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 49.72%, #000 100%);
    }

    img {
        width: 20px;
        height: 20px
    }
}

.results-card-hightlights-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.results-card-hightlights__container--second-quarter {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.results-card-hightlights__container--third-quarter {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.results-card-hightlights__container--fourth-quarter {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.span-values {
    color: #FFF;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding:5px;
}

.span-values--no-padding {
    color: #FFF;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0;
}

.span-values--end {
    color: #FFF;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0;
}

.account-image {
    width: 34px;
    height: 34px;
    border-radius: 34px;
    background: url("../../../../public/images/pictures/Ellipse.png"), lightgray 50% / cover no-repeat;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
    background-position: center center;
    background-size: 150% 150%;
}


.hightlights-container-horizontal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

image {
    width: 20px;
    height: 20px;
}

.hightlights-container-vertical {
    display: flex;

}


@media screen and (min-device-width:0) and (max-device-width:576px) {}