@import '../../../style/style.scss';

.footer-container {
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-container-links {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 0;
    margin:0;

    &__link--start {
        margin: 0 15px 0 0;
    }

    &__link--center {
        margin: 0 15px;
    }

    &__link--end {
        margin: 0 0 0 15px;

    }
}

.link {
    color: map-get($palette, black);
    font-family: RobotoMedium;
    font-size: 14px;
    font-style: normal;
    line-height: 18px;

    &:hover {
        color: map-get($palette, black);
    }
}

@media screen and (min-width:0) and (max-width: 576px) {

    .footer-container {
        grid-template-columns: 1fr;
    }

    .footer-container-links {
        display:grid;
        grid-template-columns: 1fr;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        margin: 0;

        &__link--start {
            grid-area: 1/ 1 /1 /1;
        }
    
        &__link--center {
            grid-area: auto/1/auto/2;
        }
    
        &__link--side {
            grid-area: 1/2/2/3;
            margin: 0;
        }
    
        &__link--end {
            grid-area: 2/3/3/2;  
        }
    
    }

    .link {
        text-align: left;
        padding: 6px 0;
        margin: 0;
    }
}

@media screen and (min-width:576px) {

    .footer-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-container-links {
        width:100%;
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-content: flex-start;
        align-items: flex-start;

        &__link--start {
            grid-area: 1/ 1 /1 /1;
        }

        &__link--center {
            grid-area: auto/1/auto/2;
        }

        &__link--side {
            grid-area: 1/2/2/3;
            margin: 0;
        }

        &__link--end {
            grid-area: 2/3/3/2;  
        }

    }

    .link {
        text-align: center;
        padding: 6px 0;
        margin: 0;
    }
}