@import '../../../style/style.scss';

.navbar-container {
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.burger-menu {
    display:none,
}

.burger-body {
    display:none;
}

@media screen and (min-device-width:0) and (max-device-width: 576px) {
    
    .navbar-container {
        display:none;
    }

    .relative {
        position:relative;
        width:100%;
    }

    .burger-menu-container {
        display:block;
        position:relative;
        display:flex;
        align-items: center;
    }

    .burger-menu {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
        height:15px;
        width: 18px;
    }
    
    .burger-lines {
        height:3px;
        width:100%;
        background-color: black;
    }

    .burger-body {
        position:fixed;
        top:66px;
        left:0;
        right:0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background: #FFF;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
        padding:0px 24px ;
        animation: scroll-navbar;
        animation-duration: 1s;
        z-index:1;
    }

    .button-container {
        height:70%;
        display: flex;
        align-items: center;
        border-left:1px solid map-get(map-get($palette, input), searchbar )
    }

    .links-container {
        width:100%;
        display:flex;
        justify-content: flex-start;
        padding:30px 0;
    }
}

@keyframes scroll-navbar {
    0% {height:50px;
        opacity:0};
    100% {height:200px;
          opacity:1;}
}