@import '../../../style/style.scss';

.navbar-signUp-container {

    display:flex;
    align-items: center;

    &__signUp {
        text-align: center;
        font-family: RobotoMedium;
        color: map-get(map-get($palette, text), main);
        font-size: 14px;
        font-style: normal;
        line-height: normal;
        margin:0 30px 0 0;
    }   
}

 @media screen and (min-device-width:0) and (max-device-width: 768px) {

    .navbar-signUp-container {
        display:none;
    }
    
 }