@import '../../../style/style.scss';

.navbar-signUp-container {

    display:flex;
    align-items: center;

    &__signUp {
        text-align: center;
        font-family: HelveticaNeue;
        color: map-get(map-get($palette, text), main);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin:0 30px 0 0;
    }   
}