

.container-components {
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    padding:0 60px 20px 60px;
}

@media screen and (min-device-width:0) and (max-device-width: 992px) {
    .container-components {
        padding: 20px 24px;
}
}