@import '../../../style/style.scss';

.main-title {
    color: map-get(map-get($palette, text),main);
    text-align: center;
    font-family: RobotoMedium;
    font-style: normal;
    line-height: normal;
    margin: 0;
  }

.main-title-left {
    text-align: left;
    margin: 0 0 20px 0;
}

@media screen and (min-width: 0px) {

    .main-title {
        font-size: 34px;
      }

}

@media screen and (min-width: 577px) {

  .main-title {
    font-size: 40px;
  }

}