@import '../../../style/style.scss';

.navbar-button-modal-checkbox {
    display:flex;
    align-items: center;
    justify-content: center;

    &__checkbox {
        width: 20px;
        height: 20px;
        border-radius: 6px;
        border: 1px solid map-get(map-get($palette, signUp), userBorder);
        background-color:#FFF;
    }

    &__remember-me {
        color: map-get(map-get($palette, signUp), grey);
        font-family: RobotoRegular;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin:0 0 0 10px;
    }
}